<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de promedio UPCA</title>
</head>
<body>
    <h1>Sistema de promedio UPCA</h1>

    <form method="POST">

        <h2>Primer corte 40%</h2>

        <label> Primera nota: </label>
        <input type="number" name="nota1" step="0.01">
        <br><br>

        <label>Segunda nota: </label>
        <input type="number" name="nota2" step="0.01">
        <br><br>

        <label>Nota del parcial: </label>
        <input type="number" name="parcial" step="0.01">
        <br><br>

        <button>Calcular</button>

        {% if nota_final is not none %}

            <h2>Nota acumulada: {{ nota_final }}</h2>
            

        {% endif %}

    </form>

    <form method="POST">

        <h2>segundo corte 60%</h2>

        <label> Primera nota: </label>
        <input type="number" name="nota1" step="0.01">
        <br><br>

        <label>Segunda nota: </label>
        <input type="number" name="nota2" step="0.01">
        <br><br>

        <label>Nota del parcial: </label>
        <input type="number" name="parcial" step="0.01">
        <br><br>

        <button>Calcular</button>

        {% if nota_final is not none %}

            <h2>Nota acumulada: {{ nota_final }}</h2>
            

        {% endif %}

    </form>




</body>
</html>